/* Custom properties */
:root {
  /* fonts */
  --ff-sans: "Manrope", sans-serif;
  /* font sizes */
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  --fs-300: 0.825rem;
  /* font weights */
  --fw-700: 700;
  --fw-500: 500;
  /* colors */
  --clr-white: hsla(0, 0%, 100%, 1);
  --clr-dark-blue-primary: hsla(217, 19%, 35%, 1);
  --clr-dark-blue-secondary: hsla(214, 17%, 51%, 1);
  --clr-accent-light: hsla(212, 23%, 69%, 1);
  --clr-light-gray-blue: hsla(210, 46%, 95%, 1);
}

/*  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* General Styles */
body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  color: var(--clr-dark-blue-secondary);
  background: var(--clr-light-gray-blue);
  font-family: var(--ff-sans);
  font-weight: var(--fw-500);
  line-height: 1.5; 
}

.article-preview {
  padding: 0 1.5rem;
}

.article-card {
  max-width: 330px;
  display: grid;
  font-size: var(--fs-300);
  background: var(--clr-white);
  border-radius: 10px;
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
}

.article-img {
	object-fit: cover;
	width: 100%;
	height: 18.5vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-content {
  padding: 36px 32px 28px 32px;
}

.card-heading {
  margin-bottom: 12px;
  font-size: var(--fs-400);
  font-weight: var(--fw-700);
  letter-spacing: 0.2px;
  color: var(--clr-dark-blue-primary);
}

.card-summary {
  letter-spacing: 0.1px;
}

/* card footer */
.card-footer {
  height: 64px;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg-footer__active {
  background: var(--clr-dark-blue-primary);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.author-info {
  display: flex;
}

/* handle hiding author info on mobile (default) */
.author-info__display {
  display: none;
}

.author-avatar {
  width: 40px;
  border-radius: 50%;
}

.card-meta {
  margin-left: 1rem;
}

.author {
  font-weight: var(--fw-700);
  letter-spacing: 0.1px;
  color: #48556A;
}

.article-date {
  color: var(--clr-accent-light);
}

.share-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  align-self: center;
  cursor: pointer;
}

/* Active share styles */
.card-share {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-social {
  display: flex;
  gap: 1.325rem;
}

.hidden {
  display: none;
}

.share-label {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--clr-accent-light);
}

.social-icon-list {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social-icon {
  transition: transform .2s ease-in-out;
}

.social-icon:hover,
.social-icon:active {
  transform: scale(1.5);
}

.bg-light__share {
  background: var(--clr-light-gray-blue);
}

.bg-dark__share {
  background: var(--clr-dark-blue-secondary);
}

.share-arrow-default {
  fill: var(--clr-dark-blue-secondary);
}

.share-arrow-active {
  fill: var(--clr-white);
}

@media (min-width: 56em) {
  .article-card {
    position: relative;
    max-width: 730px;
    grid-template-columns: 40% 60%;
  }

  .article-img {
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
  }

  .card-content {
    padding: 32px 40px 22px 40px;
  }

  .card-heading {
    font-size: var(--fs-500);
    letter-spacing: 0.25px;
  }

  .card-footer {
    padding: 0 40px 32px 40px;
  }

  .bg-footer__active {
    background: var(--clr-white);
  }

  .author-info__display {
    display: flex;
  }

  .card-share {
    width: 248px;
    position: absolute;
    top: 125px;
    right: -70px;
    padding: 1.125em 2.25em;
    border-radius: 10px;
    background: var(--clr-dark-blue-primary);
  }
  /* down arrow of article share - desktop */
  .card-share::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -12px;
    left: 112px;
    background: var(--clr-dark-blue-primary);
    /* make this 24x24 square a triangle: */
    transform: rotate(-45deg); 
  }

}

