

/*  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

body {
  min-height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  place-items: center;
  color: #6E8098;
  background: #ECF2F8;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  line-height: 1.5; 
}

.article-preview {
  padding: 0 1.5rem;
}

.article-card {
  display: grid;
  grid-template-rows: auto 1fr;

  font-size: 0.825rem;
  /* overflow: hidden; */
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
}

.article-img {
	object-fit: cover;
	width: 100%;
	height: 18.5vh;
}

.card-content {
  padding: 36px 32px 28px 32px;
}

.card-heading {
  margin-bottom: 12px;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #48556A;
}

.card-summary {

  letter-spacing: 0.1px;
}


/* card footer */
.card-footer {
  height: 64px;
  padding: 0 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .card__footer--active {
  background: #48556A;
} */

/* .bg-footer {
  background: #ffffff;
  background: #48556A;
} */

.bg-footer__active {
  background: #48556A;
}

.author-info {
  display: flex;
}

.author-avatar {
  width: 40px;
  border-radius: 50%;
}

.card-meta {
  margin-left: 16px;
}

.author {
  font-weight: 700;
  letter-spacing: 0.1px;
  color: #48556A;
}

.article-date {
  color: #9DAEC2;
}

.share-icon {
  width: 32px;
  height: 32px;
  /* background: #ECF2F8; */
  border-radius: 50%;

  display: grid;
  place-items: center;
  align-self: center;

  cursor: pointer;
}



/* Active share styles */

/* testing only */
/* .card-footer {
  background: #48556A;
} */

.card-share {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.card-social {
  display: flex;
  gap: 1.325rem;
}


.hidden {
  display: none;
}

.share-label {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #9DAEC2;
}

.social-icon-list {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}



.bg-light__share {
  background: #ECF2F8;
}

.bg-dark__share {
  background: #6E8098;
}

.share-arrow-default {
  fill: #6E8098;
}

.share-arrow-active {
  fill: #ffffff;
}

@media (min-width: 42em) {
  .article-card {
    position: relative;
    max-width: 730px;
    grid-template-columns: 40% 60%;

  }

  .article-img {
    height: 100%;
  }

  .card-content {
    padding: 32px 40px 20px 40px;
  }

  .card-heading {
    font-size: 20px;
    letter-spacing: 0.25px;
  }

  .card-footer {
    padding: 0 40px 32px 40px;
  }

  .bg-footer__active {
    background: #ffffff;
  }


  .card__share-icon--active {
    background-color: red;
  }

  .card-share {
    width: 248px;
    position: absolute;
    top: 125px;
    right: -70px;
    padding: 1.125em 2.25em;
    border-radius: 10px;
    background-color: #48556A;
  }
  /* down arrow of article share - desktop */
  .card-share::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -12px;
    left: 112px;
    background: #48556A;
    /* make this 24x24 square a triangle */
    transform: rotate(-45deg); 
  }

}


